#présentation{
text-align: center;
  font-size: 20px;
  background-color: #EFF0FF;
}
#dev{
    text-align: center;
font-size: 20px;
background-color: #B0CC99;
}
#exp{
  text-align: center;
  border: 1px #34393E solid;
  background-color: ;
}
#forma{
  text-align: center;
  border: 1px #34393E solid;
  background-color: ;
}
#comp{

  border: 1px #34393E solid;
  background-color:#B0CC99 ;
}
.progress{
  font-size: 17px;
}
